POSTGRESS_USERNAME=__replace_me__
POSTGRESS_PASSWORD=__replace_me__
POSTGRESS_DB=__replace_me__
POSTGRESS_HOST=__replace_me__
AWS_REGION=__replace_me__
AWS_BUCKET=__replace_me__
AWS_PROFILE=__replace_me__
JWT_SECRET=__replace_me__